* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    max-width: 100%;
}

.all {
    flex-grow: 1;
}

.header {
    background: #213B7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.header__image1 {
    margin-left: 16px;
}

.header__menu {
    display: flex;
    list-style-type: none;
    margin-left: 54px;
}

.header__menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    padding: 28px 18px;
    display: block;

}

.header__menu-list {
    width: 113px;

}

.header__menu-link_active {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;

}

.header__button {
    width: 153px;
    height: 50px;
    background: #EA5D21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-top: 15px;

}

.section {
    padding-left: calc(50% - 470px/2);
    padding-right: calc(50% - 470px/2);
    display: none;

}


.section__info {
    background: #FFFFFF;
    border: 1px solid #213B7E;
    width: 500px;
    height: 418px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    box-shadow: 8px 8px #E5E5E5;
    position: absolute;
    margin-top: 80px;

}

.section__login {
    margin-bottom: 56px;
}

.section__log {
    width: 444px;
    height: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding-left: 10px;
}

.section__password2 {
    width: 444px;
    height: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding-left: 10px;
}

.section__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 36px;
}

.section__btn {
    width: 153px;
    height: 50px;
    background: #EA5D21;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    text-decoration: none;
    margin-top: 71px;
    margin-left: 150px;
}

.main__content {
    max-width: 911px;
    width: 100%;
    margin: 0 auto 247px;


}

.visible {
    display: block;
}

.main__title {
    margin-top: 33px;
    margin-bottom: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.main__content-info {

    display: flex;
    justify-content: space-between;
}

.main__content-section {
    width: 634px;
}

.main__subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
}

.main__about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.main__detail {
    color: #CF5510;
}


.main__heading {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 45px;
    color: #646464;
    width: 129px;
    height: 90px;
    margin-top: 53px;
}

.footer {
    padding-top: 18px;
    padding-bottom: 19px;
    text-align: center;
    background-color: #213B7E;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;

}

.footer__work-centr {
    color: rgba(255, 255, 255, 0.5);
}

/* .about */
.main__content-about {
    margin-left: 500px;
    margin-bottom: 420px;
}

.main__heading-one {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 33px;
    margin-bottom: 25px;
}

.main__info {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 15px;

}

.main__video-img {
    width: 820px;


}

/* .students */

.main__content-students {
    max-width: 1202px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 420px;
}

.main__heading-students {
    font-style: normal;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #000000;
    margin-top: 37px;
}


.main__student-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: center;
}

.main__student {
    width: 200px;
    position: relative;

}

.main__student-new {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background: #3AA828;
    border-radius: 20px;
    position: absolute;
    top: -12px;
    right: -13px;
    padding: 3px 3px 1px 6px;
    text-transform: uppercase;
}

.main__students {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

}

/* .contacts */
.main__content-contacts {
    max-width: 1268px;
    width: 100%;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 420px;

}

.main__heading-contacts {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 25px;
    margin-left: 286px;

}

.main__map {
    width: 1268px;
    height: 370px;
}

.main__info-contacts {
    margin-left: 288px;
    max-width: 439px;
    width: 100%;
}

.main__our-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #000000;
    margin-top: 15px;
    letter-spacing: 0em;
}

.main__adress-info {
    display: flex;
    flex-direction: column;
    gap: 31px;
    margin-top: 10px;
}

.main__adress {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

@media screen and (max-width: 1024px) {

    /* стили для планшета */
    .header {
        padding-left: 10px;
        padding-right: 72px;
        max-width: 900px;
        width: 100%;

    }

    .header__button {
        margin-right: 45px;
    }

    .header__menu-link {
        font-size: 18px;
        padding: 20px 14px;

    }

    .section__info {
        width: 400px;
        height: 258px;
    }

    .section__title {
        margin-bottom: 25px;
        font-size: 22px;
    }

    .section__login {
        width: 40px;
        margin-bottom: 30px;
    }

    .section__log {
        width: 250px;
        height: 40px;
        font-size: 20px;
    }

    .section__password2 {
        width: 250px;
        height: 40px;
        font-size: 20px;
    }

    .section__btn {
        margin-top: 20px;
        margin-left: 80px;
        font-size: 16px;
        width: 90px;
        height: 40px;
    }


    .main__content {
        max-width: 736px;
        width: 100%;

    }

    .main__content-about {
        text-align: center;
        margin-left: 0;
    }

    .main__content-section {
        width: 80%;
    }

    .main__content-students {
        max-width: 736px;
        width: 100%;
        margin: auto;
        margin-bottom: 420px;
    }

    .main__video-img {
        width: 600px;
    }

    .main__map {
        width: 950px;
        height: 370px;

    }

    .main__map-contacts {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .header {
        max-width: 650px;
        width: 100%;
        padding-left: 0px;
    }

    .header__logo {
        margin-right: 10px;
    }

    .header__menu {
        align-items: center;
        gap: 14px;

    }

    .header__menu-link {
        text-align: center;
        font-size: 14px;
        padding: 20px 5px;
    }


    .header__menu-link_active {
        padding: 20px 0;
    }

    .header__button {
        font-size: 13px;
        padding-left: 6px;
        padding-right: 6px;
        width: 70px;

    }

    .header__menu-list {
        width: 60px;
    }

    .section__title {
        margin-bottom: 30px;
        margin-top: 5px;
    }

    .section__log {
        margin-left: 2px;
    }

    .section__password {
        margin-left: 2px;
    }

    .section__info {
        margin-left: 40px;
        margin-top: 105px;
    }

    .main__content-info {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;


    }

    .main__content-students {
        max-width: 500px;
        width: 100%;
        margin-left: 40px;

    }



    .main__title {
        text-align: center;
    }

    .main__heading-students {
        text-align: center;
    }

    .main__students {
        justify-content: center;
    }

    .main__video-img {
        width: 500px;

    }

    .main__content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-left: 25px;
    }

    .main__map {
        width: 400px;
        height: 300px;
        gap: 40px;

    }

    .main__map-contacts {

        margin-left: 56px;
    }

    .main__heading-contacts {
        margin-left: 0;
        text-align: center;

    }

    .main__info-contacts {
        margin-left: 150px;
        margin-right: 0px;
    }

    .main__content-contacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }

    .main__content-about {
        margin-left: 40px;
    }

    .main__content-section {
        max-width: 430px;
    }

    .footer {
        min-width: 520px;
    }
}

@media screen and (max-width: 360px) {
    .main__content-about {
        margin-left: 50px;
    }

    .main__content {
        max-width: 350px;
    }

    .main__content-info {
        max-width: 350px;
    }

    .main__heading {
        max-width: 350px;
        margin-left: 80px;
    }

    .main__content-section {
        max-width: 350px;
    }

    .section {
        margin-left: 70px;
    }

    .section__info {
        padding-right: 30px;
        width: 250px;
        height: 200px;
        margin-left: 0;
        margin-top: 100px;
    }


    .section__form {
        margin-left: 20px;
    }

    .section__title {
        margin-bottom: 7px;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 20px;
    }

    .section__login {
        width: 5px;
        margin-bottom: 15px;
    }

    .section__log {
        width: 165px;

        max-height: 25px;
        font-size: 16px;
    }

    .section__password {
        /* margin-left: 2px; */
        width: 10px;
    }

    .section__password2 {
        width: 165px;
        max-height: 25px;
        font-size: 16px;
    }

    .section__btn {
        margin-top: 20px;
        margin-left: 50px;
        font-size: 16px;
        width: 60px;
        height: 25px;
    }

    .footer {
        min-width: 430px;
    }
}